// dot env되는 지 확인되면 수정하겠음

@import "../../../styles/common.scss";
@import "../styles/base.scss";

.main_root {
  main {
    position: relative;
    top: 54px;
    background: $background-grey;

    section {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 30px;
      margin: 0 auto;
      max-width: 935px;
      width: 100%;

      .contents_container {
        max-width: 614px;
        width: 100%;
        margin-right: 24px;

        .article_container {
          display: flex;
          flex-direction: column;
          padding: top;
        }
      }
    }
  }
}
